/* Colors used
Background and text color (White) : #FFFFFF
Sections color (Pink): #FC1580
Border and Nav color (Bright Blue): #23ABBF
Text color (Dark Gray): #4A4A4A
Button color  (Darker Blue): #1B9EB1
yellow: #FDE23B
*/

/* Typography */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #4A4A4A;
  letter-spacing: 0.43px;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.58px;
  margin: 0;
}
h2 {
  font-size: 28px;
  font-weight: 600;
}
h3, .h3 {
  font-size: 28px;
  font-weight: 600;
}

/* Layout Styling */
header {
  background-color: #FFF;
  border-bottom: 3px solid #23ABBF;
  position: fixed;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 999;
}
header img {
  max-width: 300px;
  float: left;
  margin: 10px 20px;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 0;
}
header nav li {
  float: left;
  margin-left: 40px;
}
header nav li a {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
header nav li a:hover, nav li a:active {
  color: #FC1580;
}
.heading-border {
  border-bottom: 3px solid #23ABBF;
  border-top: 3px solid #23ABBF;
  padding: 5px 0;
  margin: 25px 0;
}
.container {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.column {
  display: inline-block;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.col60 {
  max-width: 60%;
}
.col40 {
  max-width: 40%;
}
.row {
  display: table;
}
.email {
  text-align: center;
  display: inline-block;
  margin: 0;
}
.email ul {
  padding: 0;
  list-style-type: none;
}
.email li {
  float: left;
}
.email li p {
  margin-top: 0;
  padding-left: 10px;
}
#work h1, #contact h1 {
  display: block;
  background-color: #FC1580;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
#work .row {
  border-bottom: 2px solid #1B9EB1;
  padding: 40px 0;
}
#work .row:last-child {
  border-bottom: none;
}
#work {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: repeat;
}
#intro {
  padding-top: 100px;
}
#intro p {
  display: inline-block;
  text-align: left;
  margin: 0;
}
#intro svg {
  display: block;
  margin: 0 auto;
  width: 80%;
}
#intro img {
  border: 5px dashed #168292;
}
#contact {
  text-align: center;
}
#work img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
#intro .resume {
  text-align: center;
}
#content {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}
#content ul {
  display: inline-block;
  text-transform: uppercase;
  color: #19957C;
  float: right;
}
#content img {
  margin-top: 25px;
}
.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
}
.button {
  border: none;
  font-family: 'Raleway';
  background-color: #168292;
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s opacity, 0.4s font-size;
  display: block;
  width: 230px;
  margin: 20px auto;
}
.button:hover,
.button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
  font-size: 32px;
}
a {
  color: #168292;
}
a:visited {
  /* visited link */
  color: #168292;
}
a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}
a:active {
  /* selected link */
  color: #FDE23B;
}
img {
  width: 100%;
}
.profile-img1 {
  display: none;
}
.profile-img2 {
  margin-top: 14px;
}
#casestudy {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #19957C;
  font-size: 26px;
  font-weight: bold;
}
.project {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.project-details {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.project:hover .image {
  opacity: 0.5;
}
.project:hover .project-details {
  opacity: 1;
}
.text {
  background-color: #4A4A4A;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.world-map {
  width: 60%;
}
.plane {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  from { fill: #0D8799; }
  to { fill: #50E3C2; }
}

/* Resposive */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .col100 {
    max-width: 100%;
  }
  .column {
    width: 100%;
    float: none;
  }
  .container {
    display: block;
    width: 100%;
    max-width: 991px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heading-border {
    padding: 3px 0;
    margin: 20px 0;
  }
  header img {
    display: block;
    float: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  header nav {
    float: none;
  }
  header nav {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  header nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding-left: 0;
  }
  header nav li {
    margin-right: 50px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    margin: 5px auto;
  }
  #intro h1 {
    margin-top: 10px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    font-size: 18px;
    width: 50%;
  }
  .profile-img2 {
    display: none;
  }
  .profile-img1 {
    display: block;
    margin-top: 40px;
    width: 75%;
  }
  #intro svg {
    display: none;
  }
  #content ul {
    float: none;
  }
  #casestudy {
    margin: 0 auto;
  }
  #work img {
    margin-top: 20px;
  }
  #work .row {
    padding: 0;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .heading-border {
    margin: 10px 0;
  }
  header img {
    width: 55%;
  }
  header nav li {
    margin-right: 10px;
    margin-left: 10px;
  }
  header nav li a {
    font-size: 15px;
  }
  h1 {
    text-align: center;
    line-height: 1.4;
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
    margin-top: 5px;
  }
  #intro svg {
    display: none;
  }
  #intro p {
    margin: 0;
    text-align: left;
  }
  #contact p {
    margin: 0 10px;
  }
  #contact .icon {
    width: 24px;
    height: 24px;
  }
  #content ul {
    font-size: 16px;
    float: none;
  }
  #content img {
    width: 100%;
    margin-top: 10px;
  }
  #content {
    margin: 0 auto;
  }
  .button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .profile-img1 {
    margin: 0 auto;
  }
  .profile-img2 {
    display: none;
  }
}
